@font-face {
    font-family: "Inter";
    font-style: normal;
    src: local("Inter") url("../fonts/Inter/Inter-VariableFont_opsz\,wght.woff2") format("woff2"),
    url("../fonts/Inter/Inter-VariableFont_opsz\,wght.woff") format(("woff"));
}